#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    p {
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .loadComplete {
        animation: grow 3s infinite;
    }
}

.loadingText {
    font-family: 'Dancing Script', cursive;
    color: #d21c13c5;
    font-size: 3rem;
    
    @for $i from 1 through 3 {
        span:nth-child(#{$i}) {
            animation: fade 3s infinite ($i - 1) * 1s;
        }
    }
}

.animate-out {
    transform: scale(0);
    opacity: 0;
}

@keyframes fade{
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        font-size: 3.2rem;
    }
    50% {
        font-size: 3rem;
    }
    100% {
        font-size: 3.2rem;
    }
}


