$color-primary: #282c34;
$color-secondary: #282c34;

$webgradient-1: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
$webgradient-2: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
$webgradient-3: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
$webgradient-4: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

.random-background-1 {
  background-image: $webgradient-1;
}

.random-background-2 {
  background-image: $webgradient-2;
}

.random-background-3 {
  background-image: $webgradient-3;
}

.random-background-4 {
  background-image: $webgradient-4;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App-header {
  min-height: 100vh;
  vertical-align: middle;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;

  .cardContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.layer-1, .layer-2, .layer-3 {
  position: absolute;
  top:0;
  left:0;
  min-height: 100vh;
  min-width: 100vw;
}

.groupTopLeft, .groupTopRight, .groupBottomLeft, .groupBottomRight {
  position: absolute;
  min-height: 40vh;
  min-width: 40vw;
  z-index: 2;

  img {
    position: absolute;
  }
}

.xsmall {
  height: 10vh;
  width: auto;
}

.small {
  height: 20vh;
  width: auto;
}

.medium {
  height: 30vh;
  width: auto;
}

.large {
  height: 40vh;
  width: auto;
}

.xlarge {
  height: 60vh;
  width: auto;
}

.groupTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  img {
    top: 0;
    left: 0;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3))
  }

  #giftBox {
    top: -7vh;
    left: -10vw;
    height: 45vh;
    width: auto;
    @media (min-width: 800px) {
      left: -10vw; 
      height: 60vh;
    }
    @media (min-width: 1200px) {
      height: 65vh;
      left: 0vw;
    }
  }

}
.groupTopRight {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  img {
    top: 0;
    right: 0;
    filter: drop-shadow(-8px 36px 7px rgba(0, 0, 0, 0.3))
  }
}
.groupBottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  img {
    bottom: 0;
    left: 0;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  }
}
.groupBottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  img {
    bottom: 0;
    right: 0;
    filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.3));
  }

  .polaroid {
    width: 40vw;
    height: auto;
    
    @media (min-width: 800px) {
      width: 30vw;
    }
    @media (min-width: 1200px) {
      width: 20vw;
    }
  }

  #photoRoy {
    top: 9vh;
    right: 10vh;
    transition: all 3s cubic-bezier(0.22, 0.33, 0, 1.06) 3s;
    transform: translate(0px, 0px) rotate(18deg) scale(1);
    @media (min-width: 800px) {

    }
    @media (min-width: 1200px) {
      top: -5vh;
      right: 17vh;
    }
  }

  #photoDash {
    transition: all 3s cubic-bezier(0.22, 0.33, 0, 1.06) 5s;
    right: -3vw;
    top: 20vh;
    transform: translate(0px, 0px) rotate(37deg) scale(1);
    z-index: 10;
    @media (min-width: 800px) {
      
    }
    @media (min-width: 1200px) {
      top: 9vh;
      transform: translate(0px, 0px) rotate(28deg) scale(1);
    }
  }
}

.christmas-wishes {
  // font-family: 'Raleway', sans-serif;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  text-shadow: 1px 1px 4px rgb(177, 177, 177);
}

.christmas-between {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgb(177, 177, 177);
}

.christmas-names {
  color: #d21c13c5;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
}

#card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-48%) translateY(-50%);
  min-width: 110vw;
  max-width: 110vw;
  margin-left: -20px;
  
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
  @media (min-width: 800px) {
    max-width: 90vw;
    min-width: 80vw;
    height: auto;
    margin-left: -45px;
  }
  @media (min-width: 1200px) {
    width: auto;
    min-width: 40vw;
    max-width: 60vw;
    min-height: 70vh;
    margin-left: -80px;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 2ms ease-in 5s;
}

.animate {
  transition: all 4s;
}

